:root{
    --primary-color: #FCA311;
    scroll-behavior: smooth;  
}

html{
    font: 400 62.5% 'Inter', sans-serif;
}

p, a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

nav a{
    color: inherit;
}

.upperCase{
    text-transform: uppercase;
}

.btn{
    background-color: var(--primary-color);
    border-radius: 6px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.4rem 6rem;
    color: black;
    display: inline-block;
}

.wrapperContainer__fixed{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

.wrapperContainer{
    padding-top: 1px;
}

.wrapperContainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-light{
    background-color: #fafafa;
}

.wrapperContainer-dark2{
    background-color: #003464;
    color: #fafafa;
}

.wrapperContainer-padded{
    padding-top: 12rem;
}

.section_title{
    padding: 5rem 0;
    text-align: center;
    margin: 0;
}

.section_btn{
    margin: 5rem 0;
}

.section_title{
    padding: 4rem 0;
    text-align: center;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem;
}

.header__nav a{
    padding: 0.8rem 1.2rem;
    border: solid 0.2rem;
    text-decoration: none;
    transition: color .2s linear;
}

.header__nav ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.header__nav li:hover{
    color: #fafafa;
}

.wrapperContainer-hero{
    background-image: linear-gradient(#fafafa, var(--primary-color));
}

.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem
}

.cursos {
    text-align: center;
}

.cursosContainer{
    display: flex;
    text-align: left;
    gap: 2rem;
}

.curso__card{
    flex: 1;
}

.curso__card img{
    display: block;
    width: 100%;
}

.curso__card h3{
    font-size: 2.4rem;
}

.curso__card p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.cursos_card_content {
    padding: 1rem 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0 0 0.8rem 0.8rem;
    border-top: transparent;
}

.escola{
    display: flex;
    gap: 8rem
}

.escola h2{
    font-size: 3.2rem;
    margin-top: 7.5rem;
}

.escola p{
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.contatos_address{
    text-align: right;
    font: 400 1.8rem "Inter", sans-serif;
    padding: 3rem 0;
}

.footer{
    padding: 3rem;
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
}

.footer a{
    color: #FCA311;
}